@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Propert Rental Management</h1>
    <p class="lead">This is a free website for the people to search apartment according to their requirement. It provides user friendly environmen
    to the users to just click and find a home according to their need.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/1.jpg" height="300px" width="300px"/>
    </div>
    <div class="col-md-4">
        <img src="~/Images/2.jpg" height="300px" width="300px" />
    </div>
    <div class="col-md-4">
        <img src="~/Images/3.jpg" height="300px" width="300px" />
    </div>
</div>